body {
    font - family: 'PT Sans Caption', sans - serif, 'arial', 'Times New Roman';
    display: flex;
    justify - content: center;
    align - items: center;
    height: 100vh;
    margin: 0;
    background - color: #f8f9fa;
}

.container {
    text - align: center;
}

h1 {
    font - size: 2.5rem;
    color: #343a40;
}

p {
    font - size: 1.2rem;
    color: #6c757d;
}

.btn - home {
    padding: 10px 20px;
    font - size: 1rem;
    color: red;
    border: none;
    border - radius: 5px;
    text - decoration: none;
}

    .btn - home:hover {
        background - color: #0056b3;
        color: #fff;
    }
