.title-primary-xl {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.04em;
    color: var(--primary);
}

.sub-title-secondary {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary);
}

.sub-title-secondary-500 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary);
}

.title-primary {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--primary);
}

.title-primary-sm {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    // margin-bottom: 24px;
    color: var(--primary);
}

.title-primary-md-600 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: var(--primary);
}

.input_error_msg {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--danger);
    margin-top: 4px;
    height: 16px;
}

.btn-link-primary {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.40px;
    padding: 0;
    color: var(--primary);
    text-wrap: nowrap;
    border: 0;
    transition: all 0.3s;

    &:hover {
        color: var(--blue-indigo);
    }

    &:focus,
    &:active,
    &:active:focus {
        color: var(--blue-indigo) !important;
        outline: none;
        box-shadow: unset;
        border: 0;
    }
}

.btn-transparent-danger {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.40px;
    padding: 8px 12px;
    color: var(--danger);
    background-color: var(--white);
    text-wrap: nowrap;
    border: 1px solid var(--white) !important;
    border-radius: 4px;
    text-transform: capitalize;
    transition: all 0.3s;

    &:hover {
        background-color: var(--danger-rose);
        color: var(--danger);
        border: 1px solid var(--danger-rose);
    }

    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--danger-blush) !important;
        border: 1px solid var(--danger-blush);
        color: var(--danger);
        outline: none;
        box-shadow: unset;
    }
}

.btn-back-icon {
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
        background-color: var(--lavender-mist);
    }
}

.btn_primary_outline {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 9px;
    border: 1px solid var(--primary) !important;
    color: var(--primary);
    border-radius: 4px;
    transition: all 0.3s;
    text-transform: capitalize;

    &.btn_xl {
        padding: 20px 18px;
        border-radius: 12px;
    }

    &.btn_md_sqr {
        padding: 11px;
    }

    &.btn_sm {
        padding: 6px 12px;
        font-size: 12px;
        letter-spacing: 0px;
    }

    &:hover {
        background-color: var(--lavender-mist);
        color: var(--primary);
    }

    &:checked,
    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--lavender-blush);
        color: var(--primary);
    }
}

.btn_primary_outline_md {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 12px;
    border: 1px solid var(--primary) !important;
    color: var(--primary);
    border-radius: 4px;
    transition: all 0.3s;
    text-transform: capitalize;

    &:hover {
        background-color: var(--lavender-mist);
        color: var(--primary);
    }

    &:checked,
    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--lavender-blush);
        color: var(--primary);
    }
}

.sprite-icons2 {
    background-image: url('../../img/icons/sprite-icons2.svg');
    background-repeat: no-repeat;
    // background-size: cover;
    display: block;

    &.refresh-dark {
        background-position: -910px -10px;
        width: 12px;
        height: 12px;
    }

    &.back-primary {
        background-position: -3px -5px;
        width: 26px;
        height: 22px;
    }

    &.checked-primary {
        background-position: -27px -5px;
        width: 14px;
        height: 10px;
        background-size: 745px 34px;
    }

    &.checked-white {
        background-position: -518px -10px;
        width: 16px;
        height: 12px;
    }

    &.migrate-white {
        background-position: -97px -8px;
        width: 12px;
        height: 16px;
    }

    &.question-mark {
        background-position: -140px -10px;
        width: 8px;
        height: 13px;
    }

    &.email-profile {
        background-position: -442px -11px;
        width: 13px;
        height: 10px;
    }

    &.calendar-profile {
        background-position: -481px -10px;
        width: 13px;
        height: 12px;
    }

    &.eye-open-white {
        background-position: -558px -11px;
        width: 17px;
        height: 10px;
    }

    &.eye-close-white {
        background-position: -601px -8px;
        width: 17px;
        height: 16px;
    }

    &.date-picker {
        background-position: -644px -10px;
        width: 13px;
        height: 12px;
    }

    &.add-plus-dark {
        background-position: -871px -10px;
        width: 12px;
        height: 12px;
    }

    &.cancel-light-acc {
        background-position: -991px -8px;
        width: 17px;
        height: 16px;
    }

    &.add-light-acc {
        background-position: -1034px -8px;
        width: 17px;
        height: 16px;
    }

    &.close-danger-outline {
        background-position: -947px -6px;
        width: 20px;
        height: 20px;
    }

    &.add-primary-outline-sm {
        background-position: -1077px -10px;
        width: 13px;
        height: 12px;
    }

    &.add-primary-outline-md {
        background-position: -1116px -8px;
        width: 17px;
        height: 16px;
    }

    &.copy-dark {
        background-position: -42px -67px;
        width: 13px;
        height: 14px;
    }

    &.download-white {
        background-position: -84px -67px;
        width: 11px;
        height: 14px;
    }

    &.edit-outline-primary {
        background-position: -122px -66px;
        width: 17px;
        height: 16px;
    }

    &.forward-dark {
        background-position: -202px -67px;
        width: 16px;
        height: 14px;
    }

    &.three-dots {
        background-position: -169px -67px;
        width: 5px;
        height: 14px;
    }
}

.sprite-icons {
    background-image: url('../../img/icons/sprite-icons.svg');
    background-repeat: no-repeat;
    // background-size: cover;
    display: block;

    &.checkbox-toggle {
        background-position: -547px -66px;
        width: 13px;
        height: 8px;
    }

    // &.checkbox-toggle {
    //     background-position: -582px -64px;
    //     width: 8px;
    //     height: 12px;
    // }

    &.home-primary {
        background-position: -340px -63px;
        width: 14px;
        height: 14px;
    }

    &.upload-primary {
        background-position: -1061px -7px;
        width: 15px;
        height: 14px;
    }

    &.upload-white {
        background-position: -962px -62px;
        width: 13px;
        height: 16px;
    }

    &.captcha-refresh {
        background-position: -3px -5px;
        width: 18px;
        height: 18px;
    }

    &.edit-primary {
        background-position: -125px -8px;
        width: 12px;
        height: 12px;
    }

    &.edit-secondary-lg {
        background-position: -727px -63px;
        width: 15px;
        height: 14px;
    }

    &.open-eye {
        background-position: -49px -10px;
        width: 12px;
        height: 8px;
    }

    &.close-eye {
        background-position: -87px -7px;
        width: 14px;
        height: 14px;
    }

    &.success-check {
        background-position: -319px -7px;
        width: 18px;
        height: 14px;
    }

    &.danger-close {
        background-position: -377px -7px;
        width: 14px;
        height: 14px;
    }

    &.info-i-icon {
        background-position: -527px -6px;
        width: 16px;
        height: 16px;
    }

    &.search-secondary {
        background-position: -678px -6px;
        width: 16px;
        height: 16px;
    }

    &.notification-dark {
        background-position: -757px -7px;
        width: 13px;
        height: 14px;
    }

    &.close-icon {
        background-position: -643px -8px;
        width: 13px;
        height: 12px;
    }

    &.user-icon {
        background-position: -834px -7px;
        width: 14px;
        height: 14px;
    }

    &.password-lock {
        background-position: -873px -6px;
        width: 14px;
        height: 16px;
    }

    &.non-handle-bag {
        background-position: -912px -7px;
        width: 14px;
        height: 14px;
    }

    &.logout-icon {
        background-position: -717px -7px;
        width: 14px;
        height: 14px;
    }

    &.add-light {
        background-position: -1022px -5px;
        width: 17px;
        height: 18px;
    }

    &.back-violet {
        background-position: -378px -63px;
        width: 16px;
        height: 14px;
    }

    &.prev-primary {
        background-position: -2px -64px;
        width: 12px;
        height: 12px;
    }

    &.next-light {
        background-position: -41px -64px;
        width: 12px;
        height: 12px;
    }

    &.error-info {
        background-position: -398px -4px;
        width: 20px;
        height: 20px;
    }

    &.success-checked {
        background-position: -441px -4px;
        width: 20px;
        height: 20px;
    }

    &.warning-triangle {
        background-position: -484px -5px;
        width: 20px;
        height: 18px;
    }

    &.primary-bell {
        background-position: -356px -4px;
        width: 19px;
        height: 20px;
    }

    &.eye-primary-dark {
        background-position: -192px -65px;
        width: 17px;
        height: 10px;
        margin: 0 auto;
    }

    &.delete-danger {
        background-position: -266px -64px;
        width: 11px;
        height: 12px;
        margin: 0 auto;
    }

    &.user-suspend {
        background-position: -230px -63px;
        width: 14px;
        height: 14px;
        margin: 0 auto;
    }

    &.user-non-suspend {
        background-position: -612px -63px;
        width: 14px;
        height: 14px;
        margin: 0 auto;
    }

    &.website {
        background-position: -767px -64px;
        width: 13px;
        height: 12px;
    }

    &.upload-bulk-primary {
        background-position: -844px -64px;
        width: 11px;
        height: 12px;
    }

    &.camera-white {
        background-position: -882px -64px;
        width: 13px;
        height: 12px;
    }

    &.edit-white {
        background-position: -651px -64px;
        width: 11px;
        height: 12px;
    }

    &.delete-white {
        background-position: -690px -64px;
        width: 11px;
        height: 12px;
    }

    &.close-round-danger-bg {
        background-position: -1003px -62px;
        width: 17px;
        height: 16px;
    }

    &.check-round-success-bg {
        background-position: -1089px -62px;
        width: 17px;
        height: 16px;
        display: block;
    }

    &.down-arrow-dark {
        background-position: -416px -67px;
        width: 11px;
        height: 6px;
    }

    &.close-cross-danger {
        background-position: -313px -7px;
        width: 15px;
        height: 14px;
    }
}

.btn_primary {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.15px;
    color: var(--white);
    background-color: var(--primary);
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--primary) !important;
    transition: all 0.3s;
    text-transform: capitalize;

    &.in-accordios {
        padding: 6px;
    }


    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
        color: var(--white) !important;
        background-color: var(--blue-royal) !important;
        outline: 0;
        border-color: var(--primary) !important;
    }

    &:disabled {
        background-color: var(--primary);
        color: var(--white);
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
            background-color: var(--primary);
        }
    }
}

.btn_primary_md {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--white);
    padding: 12px;
    background-color: var(--primary);
    border-radius: 4px;
    border: 0;
    transition: all 0.3s;
    text-transform: capitalize;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
        color: var(--white) !important;
        background-color: var(--blue-royal) !important;
        outline: 0;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
            background-color: var(--primary);
        }
    }
}

.btn_primary_light_icon_sm {
    background-color: var(--lavender-mist);
    padding: 4px 8px;

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--lavender-blush);
    }
}

.btn-primary-light-icon-md {
    padding: 4px;
    border-radius: 8px;
    background-color: var(--lavender-mist);
    height: 32px;
    width: 32px;

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        background-color: var(--lavender-blush);
    }

    .sprite-icons {
        margin: 0 auto;
    }
}

.btn_primary_light_icon {
    background-color: var(--lavender-mist);
    padding: 9px;

    &:hover {
        background-color: var(--lavender-blush);
    }

    &:active {
        background-color: var(--primary) !important;

        .notification-dark {
            background-position: -796px -7px;
        }

        .question-mark {
            background-position: -218px -10px;
        }
    }

    &:checked {
        background-color: var(--primary);
    }
}

.btn-primary-light {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 8px;
    color: var(--blue-deep-ink);
    background-color: var(--lavender-mist);
    text-align: left;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:active:focus {
        background-color: var(--lavender-blush);

        .user-icon {
            background-position: -948px -7px;
        }

        .password-lock {
            background-position: -984px -6px;
        }
    }
}

.btn_danger_outline {
    border: 1px solid var(--danger) !important;
    padding: 4px 16px;
    color: var(--danger);
    border-radius: 4px;

    &:hover {
        background-color: var(--danger-blush);
        color: var(--danger);
    }

    &:checked,
    &:focus,
    &:active {
        background-color: var(--danger-cherry) !important;
        color: var(--danger) !important;
    }

    &:disabled {
        color: var(--danger-pastel);
        border: 1px solid var(--danger-pastel) !important;
    }
}

.btn_danger {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--white);
    padding: 8px 16px;
    background-color: var(--danger);
    border: 1px solid var(--danger) !important;
    border-radius: 4px;

    &.in-accordios {
        padding: 6px;
    }

    &:hover {
        background-color: var(--danger-fiery);
        border-color: var(--danger-fiery);
        color: var(--white);
    }

    &:active,
    &:focus,
    &:focus:active,
    &:checked {
        color: var(--white);
        background-color: var(--danger-darkest) !important;
        border-color: var(--danger-darkest) !important;
    }
}

.btn-danger-light {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 8px;
    color: var(--danger);
    background-color: var(--danger-alpha);
    transition: all 0.3s;
    border-radius: 4px;

    &:hover,
    &:active,
    &:active:focus {
        color: var(--danger);
        background-color: var(--danger-blush);
    }
}

.btn-danger-light-icon {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--danger-blush);
    height: 32px;
    width: 32px;

    &.btn_xl {
        padding: 10px;
        height: 40px;
        width: 40px;
        border-radius: 4px;
    }

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        background-color: var(--danger-cherry);
    }

    &.btn-close-accordion-form {
        height: 40px;
        width: 40px;
        border-radius: 4px;
        margin-top: -8px;

        span {
            margin: 0 auto;
        }
    }
}

.btn-success-light {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: var(--success-spring);
    padding: 8px 16px;
    background-color: var(--success-mint);
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
        background-color: var(--success-aqua);
        color: var(--success-spring);
    }

    &:checked,
    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--success-spring) !important;
        color: var(--white) !important;

        .check-round-success-bg {
            background-position: -1132px -62px;
        }
    }

}

.btn-light {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    border-radius: 4px;
    padding: 8px;

    &.btn-danger-light {
        background-color: var(--yellow-50);
        color: var(--yellow-100);

        &:is(:hover, :focus) {
            background-color: var(--yellow-200);
            color: var(--yellow-100);
        }

        &:active,
        &.active {
            background-color: var(--yellow-100);
            color: var(--white);
        }
    }

    &.btn-gray-pearl-light {
        background-color: var(--gray-pearl);
        color: var(--lavender-spicy);

        &:is(:hover, :focus) {
            background-color: var(--lavender-blush);
        }

        &:active,
        &.active {
            background-color: var(--lavender-spicy);
            color: var(--white);
        }
    }

    &.btn-blue-light {
        background-color: var(--blue-100);
        color: var(--blue-200);

        &:is(:hover, :focus) {
            background-color: var(--blue-300);
        }

        &:active,
        &.active {
            background-color: var(--blue-200);
            color: var(--white);
        }

    }
}

.btn-danger-blush {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: var(--danger);
    padding: 8px 16px;
    background-color: var(--danger-blush);
    border-radius: 4px;

    &:hover {
        color: var(--white);
        background-color: var(--danger-cherry);
    }

    &:checked,
    &:focus,
    &:active,
    &:active:focus {
        background-color: var(--danger);
        color: var(--white);

        .close-round-danger-bg {
            background-position: -1046px -62px;
        }
    }
}

.btn-password-info {
    padding: 0;
}

.sm-text-gray-neutral {
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-neutral);
}

.sm-text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.md-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.md-text-500 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.md-text-600 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.md-text-700 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.lg-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.lg-text-500 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: 500;
}

.lg-text-700 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.btn-search-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-page {
    margin-left: 64px;
}

.upload-bulk,
.add-button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn-dark-transparent {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    background-color: var(--black-opaque);
    color: var(--white);
    padding: 8px;
    width: 100%;
    text-transform: capitalize;
    border-top: 1px solid var(--gray-base);
    border-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    &.icon-title {
        justify-content: center;
    }

    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        background-color: var(--black-opacity-strong);
        color: var(--white);
        // border-top: 1px solid var(--gray-base);
    }
}

.btn-icon-sm {
    padding: 4px;
    border-radius: 4px;

    &:hover {}

    &.btn-icon-success {
        background-color: var(--success-fiery);

        &:hover {
            background-color: var(--success-aqua);
        }
    }

    &.btn-icon-danger {
        background-color: var(--danger-blush);

        &:hover {
            background-color: var(--danger-cherry);
        }
    }

    &.btn-icon-grey {
        background-color: var(--gray-pearl);

        &:is(:hover, :focus) {
            background-color: var(--lavender-spicy);
            color: var(--white);

            .forward-dark {
                background-position: -243px -67px;
            }
        }

        &:active,
        &.active {
            background-color: var(--black-terminal);
            color: var(--white);
        }

    }
}

.btn-formula {
    height: 40px;
    min-width: 40px;
    text-align: center;
    background-color: var(--lavender-pale);
    border-radius: 4px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    &:hover {
        background-color: var(--lavender-blush);
    }

    span {
        margin: 0 auto;
    }
}

.btn-icon-36 {
    height: 36px;
    min-width: 36px;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;

    &.grey {
        background-color: var(--gray-pearl);

        &:is(:hover, :focus) {
            background-color: var(--lavender-spicy);
            color: var(--white);

            .forward-dark {
                background-position: -243px -67px;
            }
        }

        &:active,
        &.active {
            background-color: var(--black-terminal);
            color: var(--white);
        }
    }
}