@model Payroll.WebApp.Models.DTOs.MapDepartmentLocationDTO
<form id="addMapDepartmentForm">
    <div class="form-group">
        <label for="CountryDropdown" class="form-label">Country<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="CountryDropdown" required>
            <option value="">Select Country</option>
        </select>
        <span id="countryDropdown-error" class="input_error_msg"></span>
    </div>

    <div class="form-group">
        <label for="StateDropdown" class="form-label">State<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="StateDropdown" required>
            <option value="">Select State</option>
        </select>
        <span id="stateDropdown-error" class="input_error_msg"></span>
    </div>

    <div class="form-group">
        <label for="CityDropdown" class="form-label">City<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="CityDropdown" required>
            <option value="">Select City</option>
        </select>
        <span id="cityDropdown-error" class="input_error_msg"></span>
    </div>

    <div class="form-group">
        <label for="LocationDropdown" class="form-label">Location<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="LocationDropdown" required>
            <option value="">Select Location</option>
        </select>
        <span id="locationDropdown-error" class="input_error_msg"></span>
    </div>

    <div class="form-group">
        <label for="AreaDropdown" class="form-label">Area<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="AreaDropdown" required>
            <option value="">Select Area</option>
        </select>
        <span id="areaDropdown-error" class="input_error_msg"></span>
    </div>

    <div class="form-group">
        <label for="DepartmentDropdown" class="form-label">Department<sup>*</sup></label>
        <select class="form-control select2_search_ctm" id="DepartmentDropdown" required>
            <option value="">Select Department</option>
        </select>
        <span id="departmentDropdown-error" class="input_error_msg"></span>
    </div>
</form>
