.breadcrumb-container {
    background-color: var(--lavender-mist);
    padding: 4px 24px;

    .breadcrumb{
        align-items: center;
        margin-bottom: 0;
    }

    .breadcrumb-item {
        padding-left: 0;
        // margin-right: 8px;
        // width: fit-content;
        &::before{
            color: var(--gray-neutral);            
            // padding-right: 0;
        }
        .breadcrumb-text {            
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            color: var(--gray-neutral);
            text-wrap: nowrap;
            margin-right: 8px;
        }

        &.primary {
            .breadcrumb-text {
                color: var(--primary);
                margin-right: 24px;
            }
        }
    }
}