.password-validations {
    position: relative;

    .password-strength-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;        

        .text-weak {
            color: var(--danger);
        }

        .text-average {
            color: var(--orange-sunset);
        }

        .text-strong {
            color: var(--success);
        }

        .password-quality {
            display: flex;
            align-items: center;
            gap: 8px;

            .password-strength {
                width: 92px;
                border: 2px solid var(--lavender-blush);
                border-radius: 12px;

                &.weak {
                    border-color: var(--danger);
                }

                &.average {
                    border-color: var(--orange-sunset);
                }

                &.strong {
                    border-color: var(--success);
                }

                @media (max-width: 1199px) {
                    width: 72px;
                }
                @media (max-width: 1024px) {
                    width: 52px;
                }
            }
        }
    }

    // .password-validation-rules {
    //     position: absolute;
    //     background-color: var(--white);
    //     width: 100%;
    //     padding: 8px;
    //     z-index: 1;
    //     border-radius: 4px;

    //     .password-rules-title{
    //         color: var(--blue-deep-ink);
    //         margin-bottom: 8px;
    //     }

    //     .password-checklist{
    //         display: flex;
    //         align-items: center;
    //         gap: 4px;
    //         margin-bottom: 4px;
    //         padding: 0 16px;

    //         &:last-child{
    //             margin-bottom: 0;
    //         }

    //         &.valid{
    //             color: var(--success);
    //         }
    //         &.invalid{
    //             color: var(--danger);
    //         }
    //     }
    // }
}