// #select2-countries-results,
// #select2-countriesname-results,
// #select2-state-results,
// // #select2-branch-results,
// #select2-companytype-results,
// #select2-a8ei-results,
// // .select2-results__options,
// .select2_search_container_ctm {
//     .select2-results__option {
//         &::before {
//             display: none !important;
//         }
//     }
// }

// .select2_search_container_ctm .select2-container--default .select2-results__option::before {
//     display: none !important;
//     /* Hide the checkbox icon in the dropdown */
// }

// .select2_search_container_ctm .select2-container--default .select2-results__option[aria-selected="true"] .select2-selection__choice__remove {
//     display: none !important;
//     /* Hide the checkbox remove button */
// }

// /* If you want to hide the checkboxes for the dropdown but only within this specific instance */
// .select2_search_container_ctm .select2-container--default .select2-results__option[aria-selected="false"] {
//     display: none !important;
//     /* This hides unselected options with checkboxes in multiple select mode */
// }


.select2_search_ctm_result {
    .select2-results__options {
        .select2-results__option {
            &::before {
                display: none !important;
            }
        }
    }
}


// .open_search_results_ctm {
//     .select2-results {

//     }
// }



/* Optional: Border color when the multi-select is focused */

/* Optional: Styling the individual tags (selected items) inside the multi-select */
.select2-selection__choice {
    background-color: #6c757d;
    /* Gray background for selected items */
    color: white;
}

.select2-selection__choice:hover {
    // background-color: red;
    /* Hover effect for individual selected items */
}

.multi-selection {
    .select2-container {
        .select2-selection--multiple {
            min-height: 40px;
            padding: 0 16px 0;
        }

        .select2-results__option {
            span {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    // .select2-selection__rendered {
    //     width: calc(100vw - 8px);
    //     display: table-caption;
    // }

    .select2-selection--multiple {
        // border-width: 2px;
        border: 1px solid var(--blue-soft);
        // width: calc(100% - 0px);
        // overflow-x: auto;
        // overflow-y: hidden;
        // white-space: nowrap;
        // height: 36px;

        // .select2-selection__choice__remove {
        //     color: transparent;
        //     background-image: url('../../img/icons/sprite-icons.svg');
        //     background-repeat: no-repeat;
        //     background-position: -515px -65px;
        //     width: 10px;
        //     height: 10px;

        //     &:hover {
        //         color: transparent;
        //     }
        // }



        .select2-selection__choice {
            background-color: var(--lavender-pastel);
            padding: 4px 8px;
            border: 0;
            color: var(--blue-deep-ink);
            font-size: 14px;
            line-height: 20px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 8px;
        }
    }
}

.select2_search_ctm {}

.select2-container {
    display: unset;

    .select2-search--inline {
        .select2-search__field {
            padding-left: 12px;
        }
    }

    .select2-selection--multiple {
        min-height: 40px;
        cursor: pointer;
        overflow-x: auto;
        // overflow-y: hidden;

        .select2-selection__rendered {
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100vw - 300px);
            overflow: hidden;
            display: flex;
            flex-direction: row-reverse;
            display: table-caption;
            //white-space: nowrap;
            // overflow-x: auto;
            // padding: 5px;
        }
    }

    .img-flag {
        border-radius: 0 !important;
    }

    .select2-selection--single {
        height: 40px;

        .select2-selection__rendered {
            padding: 9px 16px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.select2-container--default {
    &.select2-container--open {
        &.select2-container--below {
            .select2-selection--multiple {
                border-radius: 4px;
            }
        }

        .select2-dropdown--below {
            border: 1px solid var(--lavender-mist);
            padding: 0;
            border-radius: 8px;
        }
    }



    .select2-container--focus {
        .select2-selection--multiple {
            border-color: var(--primary);
            border-width: 2px;
        }
    }


    // &.select2-container--open {
    //     .select2-selection--multiple {            

    //         &::after {
    //             display: none;
    //         }
    //     }
    // }


    .select2-selection--single {
        .select2-selection__arrow {
            width: 26px;
            background-color: var(--white);

            b {
                background-image: url('../../img/icons/sprite-icons.svg');
                background-repeat: no-repeat;
                display: block;
                background-position: -416px -67px;
                width: 11px;
                height: 6px;
                border: 0;
                left: 0;
                margin-top: 3px;
                background-color: var(--white);
            }
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: var(--lavender-overlay-deep);
        color: var(--primary);
    }

    .select2-results__option[aria-selected=true] {
        color: var(--blue-deep-ink);
        background-color: var(--lavender-overlay-deep);

        &::before {
            background-image: url('../../img/icons/check-multi.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-color: var(--primary);
            border: 0;
            display: inline-block;
        }
    }

    .select2-search--dropdown {

        .select2-search__field {
            border: 0;
            border-bottom: 1px solid var(--gray-pearl);

            &:focus-visible {
                outline: 0;
            }
        }
    }

    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
        padding: 8px 16px;

        &::before {
            content: "";
            display: inline-block;
            position: relative;
            height: 18px;
            width: 18px;
            border: 2px solid var(--gray-medium);
            border-radius: 4px;
            background-color: var(--white);
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

// .multi-selection {
//     +.select2-container--default {
//         position: relative;

//         &::after {
//             content: '';
//             background-image: url('../../img/icons/sprite-icons.svg');
//             background-repeat: no-repeat;
//             background-position: -416px -67px;
//             width: 11px;
//             height: 6px;
//             border: 0;
//             background-color: var(--white);
//             position: absolute;
//             right: 1px;
//             top: 12px;
//             left: auto;
//             padding: 10px 12px;
//             margin-top: 5px;

//         }
//     }
// }

.select2-container--default {
    &.select2-container--open {
        &.select2-container--below {
            .select2-selection--multiple {
                border-radius: 4px;
            }
        }

        .select2-dropdown--below {
            border: 1px solid var(--lavender-mist);
            padding: 0;
            border-radius: 8px;
        }
    }

    .select2-selection--multiple {
        border-width: 2px;
        border: 1px solid var(--blue-soft);

        .select2-selection__clear {
            position: relative;

            &::after {
                content: "";
                margin-right: 0;
                // margin-top: 7px;
                position: absolute;
                right: 50px;
                padding: 3px 10px;
                background: var(--white);
            }
        }

        .select2-selection__choice__remove {
            color: transparent;
            background-image: url('../../img/icons/sprite-icons.svg');
            background-repeat: no-repeat;
            background-position: -515px -65px;
            width: 10px;
            height: 10px;

            &:hover {
                color: transparent;
            }
        }

        .select2-selection__choice {
            background-color: var(--lavender-pastel);
            padding: 4px 8px;
            border: 0;
            color: var(--blue-deep-ink);
            font-size: 14px;
            line-height: 20px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 8px;
        }
    }

    .select2-container--focus {
        .select2-selection--multiple {
            border-color: var(--primary);
            border-width: 2px;
        }
    }

    .select2-selection--single {
        border: 1px solid var(--blue-soft);
        position: relative;

        &:hover,
        &:focus,
        &:focus-visible {
            border-color: var(--primary);
            outline: 0;
        }

    }

    .select2-selection__arrow {
        b {
            background-image: url('../../img/icons/sprite-icons.svg');
            background-repeat: no-repeat;
            display: block;
            background-position: -416px -67px;
            width: 11px;
            height: 6px;
            border: 0;
            left: 0;
            margin-top: 3px;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: var(--lavender-overlay-deep);
        color: var(--primary);
    }

    .select2-results__option[aria-selected=true] {
        color: var(--blue-deep-ink);
        background-color: var(--lavender-overlay-deep);

        &::before {
            background-image: url('../../img/icons/check-multi.svg');
            background-repeat: no-repeat;
            display: block;
            background-color: var(--primary);
            border: 0;
            display: inline-block;
        }
    }

    .select2-search--dropdown {
        position: relative;

        &::before {
            content: '';
            background-image: url('../../img/icons/sprite-icons.svg');
            background-repeat: no-repeat;
            background-position: -804px -62px;
            width: 15px;
            height: 16px;
            position: absolute;
            z-index: 9;
            left: 12px;
            top: 12px;
            display: block;
            background-color: var(--white);
        }

        .select2-search__field {
            padding-left: 40px;
        }
    }

    // .select2-results__option {
    //     padding-right: 20px;
    //     vertical-align: middle;
    //     padding: 8px 16px;

    //     &::before {
    //         content: "";
    //         display: inline-block;
    //         position: relative;
    //         height: 18px;
    //         width: 18px;
    //         border: 2px solid var(--gray-medium);
    //         border-radius: 4px;
    //         background-color: var(--white);
    //         margin-right: 8px;
    //         vertical-align: middle;
    //     }
    // }
}

.select2-selection {
    &.select2-selection--multiple {

        &:hover,
        &:focus {
            border-color: var(--primary);
        }
    }

    // .select2-selection--multiple {
    //     &::after {
    //         content: 'hhghgh';
    //     }
    // }
}

// .select-icon {
//     .select2-selection__placeholder {
//         .badge {
//             display: none;
//         }
//     }

//     .placeholder {
//         display: none;
//     }

//     .select2-results__option {
//         &:before {
//             display: none !important;
//         }
//     }

//     .select2-results__option[aria-selected=true] {
//         &:before {
//             display: none !important;
//         }
//     }

//     .select2-search--dropdown {
//         display: none;
//     }
// }


// temporary solution for select2 multiselection with search option
// .select2-selection--multiple[aria-expanded="false"] ul.select2-selection__rendered{
//     top:0;
// }

// .select2-selection--multiple[aria-expanded="true"] ul.select2-selection__rendered {
//         position: absolute;
//         background: white;
//         top: 32px;
//         border: 1px solid var(--primary);
//         width: 100%;
// }

// ul.select2-results__options {}

// span.select2-dropdown.select2-dropdown--below {
//     top: 24px;    
// }
// .shift-dropdown-up {
//     .select2-container--open {
//         &.select2-container--below {
//             top: calc(100% - 20px) !important;
//         }
//     }

// }

// .select2-container--open {
//     z-index: 9999 !important;
//     /* higher than modal-backdrop (usually 1050) */
// }

// .select2-container {
//     .select2-container--default {
//         .select2-container--open {
//             top: calc(100% - 20px) !important;
//         }
//     }
// }

#standardFilterModal {
    .select2-container--open {
        z-index: 9999 !important;
        margin-top: -20px;
    }
}

// .select2-container {
//     .select2-container--default {
//         .select2-container--open {

//         }
//     }
// }