@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Link Used</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/src/css/fonts.css">
    <link rel="stylesheet" href="~/assets/src/scss/style.css">
    <link rel="stylesheet" href="~/application/css/common/linkalreadyused.css" />
</head>

<body>
    <div class="container">
        <h3>Password Reset Link Already Used</h3>
        <p>The link you are trying to access has already been used or is no longer valid.</p>
        <a href="/user/_forgotpassword" class="btn-home" style="margin-bottom:3rem;">Forgot Password?</a>
    </div>
</body>

</html>
