@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Page</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/src/css/fonts.css">
    <link rel="stylesheet" href="~/assets/src/scss/style.css">
    <link rel="stylesheet" href="~/application/css/login/login.css">
    <link rel="stylesheet" href="~/application/css/common/toastr.min.css">
</head>

<body>
    <section class="page_wrapper_main">
        <div class="login_wrapper">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <!-- Login Slider -->
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-5 col-10">
                        <div class="login_slider_wrapper">
                            <div class="owl-carousel owl-theme owl-slider">
                                @for (var i = 0; i < 3; i++)
                                {
                                    <div class="item">
                                        <img src="~/assets/img/login-slider1.svg" class="img-fluid d-block" height="248" width="448" alt="slider-image-@i">
                                        <div class="slider-content">
                                            <p class="slider-title">Payroll System</p>
                                            <p class="slider-text">The Simplest Way to Manage your Payroll</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                
                    <!-- Update Password Form -->
                    <div class="col-xxl-3 col-xl-5 offset-md-1 col-lg-4 col-md-4 col-9" id="UpdatePasswordForm">
                        <div class="login_form_wrapper">
                            <img class="login-logo" src="~/assets/img/icons/mantra-logo.svg" height="60" width="222" alt="logo">
                            <p class="title-primary">Reset Password</p>
                            <div class="password-info-tooltip-container">
                                <p class="sm-text-gray-neutral">Generate New Password</p>
                                <button type="button" class="btn btn-password-info">
                                    <span class="sprite-icons info-i-icon"></span>
                                </button>
                                <div class="password-info arrow-border-top">
                                    <ul>
                                        <li class="sm-text text_primary"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="form-group password-validations">
                                    <label for="txtNewPassword" class="form-label">New Password <sup>*</sup></label>
                                    <div class="password-area">
                                        <input id="txtNewPassword" type="password" class="form-control" placeholder="Enter new password" name="newpassword" tabindex="1">
                                        <button class="btn btn-password-show-hide">
                                            <span class="sprite-icons open-eye"></span>
                                        </button>
                                    </div>
                                    <div class="password-strength-container d-none">
                                        <div class="password-quality">
                                            <div class="password-strength weak"></div>
                                            <div class="password-strength fair"></div>
                                            <div class="password-strength good"></div>
                                        </div>
                                        <p class="sm-text text-label"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtConfirmPassword" class="form-label">Confirm New Password <sup>*</sup></label>
                                    <div class="password-area">
                                        <input id="txtConfirmPassword" type="password" class="form-control" placeholder="Enter confirm password" tabindex="2">
                                        <button class="btn btn-password-show-hide">
                                            <span class="sprite-icons open-eye"></span>
                                        </button>
                                    </div>
                                </div>
                                <p id="new-confirm-password-validation-message" class="input_error_msg"></p>
                                <button type="button" onclick="updatePassword()" id="btnUpdatePassword" class="btn_primary_md w-100 loader-dot-pulse" disabled>Save</button>
                                <div class="tac-container">
                                    <p class="sm-text-gray-neutral">
                                        By Clicking on Login, you agree to Payroll’s
                                        <a href="#" class="btn-link-primary">Terms and conditions of Use</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript Libraries -->
    <script src="~/assets/src/js/jquery.min.js"></script>
    <script src="~/assets/plugins/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/plugins/OwlCarousel2-2.3.4/src/js/owl.carousel.js"></script>
    <script src="~/assets/src/custom-js/script.js"></script>
    <script src="~/application/js/common/toastr.min.js"></script>
    <script src="~/application/js/login/login.js"></script>

    <!-- Tooltip Toggle -->
    <script>
        const button = document.querySelector('.btn-password-info');
        const passwordInfoBox = document.querySelector('.password-info');
        button?.addEventListener('click', (event) => {
            event.stopPropagation();
            button.classList.toggle('checked');
            passwordInfoBox.style.display = button.classList.contains('checked') ? 'block' : 'none';
        });
        document.addEventListener('click', (event) => {
            if (!button?.contains(event.target) && !passwordInfoBox?.contains(event.target)) {
                passwordInfoBox.style.display = 'none';
                button.classList.remove('checked');
            }
        });
    </script>
</body>
</html>
