<link href="~/assets/src/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/assets/src/scss/style.css">
<!-- date picker plugin -->
<link rel="stylesheet" href="~/assets/src/css/bootstrap-datepicker.min.css" />
<div class="app-layout">
    <div class="alert-custom" style="display:none;">
        <!-- use class for different alerts like (alert-success, alert-danger, alert-warning, alert-primary) -->
        <!-- Alert content will be dynamically inserted based on the alert type -->
    </div>
    <div class="title-container">
        <div class="current-back">
            <a href="/User/Index" class="btn btn-back-icon">
                <span class="sprite-icons back-violet"></span>
            </a>
            <p class="title-primary">Change User Password</p>
        </div>
        <div class="button-group">
            <button class="btn btn-transparent-danger" id="resetButton">reset All</button>
            <a href="/Home/Index" class="btn btn_primary_outline_md">Cancel</a>
        </div>
    </div>

    <div class="row g-0">
        <div class="col-lg-12 col-md-12">
            <div class="vertical-tab-content">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab" tabindex="0">
                        <form id="firstTab">
                            <div class="vertical-tabs-content-fixed-layout form-body ">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="fname" class="form-label">
                                                        Old Password
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter Old Password" id="oldpwd" name="oldpwd" maxlength="50" required>
                                                    <span id="oldpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="mname" class="form-label">
                                                        New Password
                                                        <sup>*</sup>
                                                     </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter New Password" id="newpwd" name="newpwd" maxlength="50">
                                                    
                                                    <span id="newpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="lname" class="form-label">
                                                        Confirm Password
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="text" class="form-control" type="password"
                                                           placeholder="Enter Confirm Password" id="Confirmpwd" name="Confirmpwd" maxlength="50" required>
                                                    <span id="Confirmpwd-error" class="input_error_msg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="button" class="btn btn_primary" id="Savechangepwd">
                                    Save<span class="sprite-icons next-light"></span>
                                </button>
                            </div>
                        </form>

                    </div>

                  

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal primary -->
<div class="modal fade modal-custom modal-primary" id="userAddedModal" tabindex="-1"
     aria-labelledby="userAddedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/assets/img/icons/priamry-done-modal.svg" width="134" height="77" alt="successfully done">
                <p class="title-primary mb-2">Successfully User Added</p>
                <p class="sm-text-gray-neutral">You can now view the user list or add another user.</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" onclick="goToUserList()" class="btn btn_primary_outline_md" data-bs-dismiss="modal">
                    Go to user
                    list
                </button>
                <button type="button" onclick="addNewUser()" class="btn btn_primary">Add new user</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="headerProfile" aria-labelledby="headerProfileLabel">
    <div class="offcanvas-header offcanvas-header-close-only">
        <!-- <h5 id="headerProfileLabel">Offcanvas right</h5> -->
        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="sprite-icons close-icon"></span>
        </button>
    </div>
    <div class="offcanvas-body pt-0">
        <div class="profile-summary">
            <img class="profile-photo" src="~/assets/img/profile.svg" height="120" width="120" alt="profile photo">
            <p class="profile-name">User Profile</p>
            <p class="profile-email">vigna.bagdai@mantratec.com</p>
        </div>

        <div class="select-role-list">
            <label for="exampleInputEmail1" class="form-label">Select Role:</label>
            <div class="dropdown">
                <a class="btn dropdown-link dropdown-toggle" id="dropdownTextbox" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li><a class="dropdown-item" data-value="1">Action</a></li>
                    <li><a class="dropdown-item" data-value="2">Another action</a></li>
                    <li><a class="dropdown-item" data-value="3">Something else here</a></li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="own-profile-security">
            <button class="btn btn-primary-light"><span class="sprite-icons user-icon"></span>profile</button>
            <button class="btn btn-primary-light">
                <span class="sprite-icons password-lock"></span>change
                password
            </button>
        </div>

        <hr />

        <div class="theme-selection">
            <div class="light-dark-mode">
                <div class="icon-title">
                    <span class="sprite-icons non-handle-bag"></span>
                    <p class="form-check-label">Select Theme</p>
                </div>
                <div class="theme-box">
                    <div class="light-theme-box">
                        <img src="~/assets/img/dark-theme.svg" height="44" width="74" alt="dark theme">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                   id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1" id="toggleLight">
                                Light Theme
                            </label>
                        </div>

                    </div>
                    <div class="dark-theme-box">
                        <img src="~/assets/img/light-theme.svg" height="44" width="74" alt="light theme">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                   id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Dark Theme
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="offcanvas-footer">
        <div class="logout-container">
            <button class="btn btn-danger-light" onclick="window.location.href='login.html'">
                <span class="sprite-icons logout-icon"></span>Logout
            </button>
        </div>
    </div>

</div>

@section Scripts {
    @*  <script src="~/assets/src/js/jquery.min.js"></script>
    <script src="~/assets/src/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script> *@
    <script src="~/assets/src/js/select2.min.js"></script>
    <script src="~/assets/src/custom-js/script.js"></script>
    <script src="~/assets/src/custom-js/select2.js"></script>
    <script src="~/application/js/user/user.js"></script>
    <!-- date picker plugins -->
    <!-- date picker custom js file -->
 
}