@model Payroll.WebApp.Models.DTOs.LoginDTO

@{
    Layout = null;
}

<!-- Biometric Login Form -->
<div class="col-xxl-4 col-xl-5 offset-md-1 col-lg-4 col-md-4 col-9 d-none" id="ForgotPasswordForm">
    <div class="login_form_wrapper">
        
        @* Empty *@

    </div>
</div>