@model Payroll.WebApp.Models.DTOs.LoginDTO
@{
    Layout = null;
}
<style>
    .underline-button {
        text-decoration: underline;
    }
</style>
<script>
    $('#btnbacktologin').on('click', function () {
        window.location.href = '/'; 
    });
</script>
<!-- Forgot Password Form -->
<div class="login_form_wrapper">
    <img class="login-logo" src="assets/img/icons/mantra-logo.svg" height="49" width="164" alt="logo">

    <!-- <p class="sub-title-secondary">Welcome!</p> -->
    <p class="title-primary">Forgot Password?</p>
    <p class="sm-text-gray-neutral">Enter your registered email address to get OTP.</p>

    <div class="form-section">
        <div class="form-group">
            <label for="txtEmail" class="form-label">Email <sup>*</sup></label>
            <input asp-for="Email" id="txtEmail" type="text" class="form-control" placeholder="Enter email id" name="txtEmail">
            <p id="email-validation-message" class="input_error_msg"></p>
        </div>
        <button type="button" class="btn_primary_md w-100 loader-dot-pulse" id="btnSendOTP" onclick="sendOTP(1)">Get OTP</button>
      
    </div>
</div>
<div class="form-group">
    <button type="button" id="btnbacktologin" class="btn btn-link-primary loader-dot-pulse underline-button" style="font-size:15px;" tabindex="4">Back to login</button>

</div>

