<div class="alert-custom">
    <!-- use class for different alerts like (alert-success, alert-danger, alert-warning, alert-primary) -->
    <div class="alert alert-danger" role="alert">
        <div class="alert-content">
            <div class="d-flex align-items-center gap-2">
                <!-- below icon use for alert primary(primary color) -->
                <!-- <span class="sprite-icons primary-bell"></span> -->
                <!-- below icon use for alert warning(yellow color) -->
                <!-- <span class="sprite-icons warning-triangle"></span> -->
                <!-- below icon use for alert success(green color) -->
                <!-- <span class="sprite-icons success-checked"></span> -->
                <!-- below icon use for alert danger(red color) -->
                <span class="sprite-icons error-info"></span>
                <p class="lg-text">A simple danger alert—check it out!</p>
            </div>
            <button class="btn btn_close_alert"><span class="sprite-icons close-icon"></span></button>
        </div>
    </div>
</div>